#dashboard-background {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 100vh; 
    align-items: unset;
}

.dashboard-container {
    width: 100%;
    max-width: 1248px;
    display: flex;
    align-items: unset;
}

#profile-section {
    position: fixed;
    width: 25%;
    display: flex;
    top: 80px;
    right: 0px;
    left: 50px;
}

#personal-links-section {
    position: fixed;
    width: 25%;
    display: flex;
    flex-direction: column;
    top: 80px;
    right: 50px;
}

#workout-feed-section {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;
    overflow: auto;
}

.dashboard-title {
    font-size: 24px;
    font-weight: 700;
}
