#dashboard-background {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 100vh; 
    align-items: unset;
}

.dashboard-container {
    width: 100%;
    max-width: 1248px;
    display: flex;
    align-items: unset;
}

#profile-section {
    position: fixed;
    width: 280px;
    display: flex;
    top: 136px;
    background-color: white;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
}

#workout-feed-section {
    min-width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;
    overflow-y: auto;
}

#personal-links-section {
    position: fixed;
    width: 25%;
    display: flex;
    flex-direction: column;
    top: 136px;
    right: 0;
}

.dashboard-title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-username-title {
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.profile-section-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.profile-stats-list {
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.profile-stats-type {
    font-weight: 800;
}

.profile-stats-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.personal-links-container ul > * {
    display: flex;
    border-bottom: 1px solid lightgray;
    width: 280px;
    padding: 40px;
    font-weight: 800;
}

.personal-links-container ul li i {
    padding-right: 10px;
}

