#dashboard-background {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 100vh; 
    align-items: unset;
}

.dashboard-container {
    width: 100%;
    max-width: 1248px;
    display: flex;
    align-items: unset;
}

#profile-section {
    position: fixed;
    width: 280px;
    display: flex;
    top: 115px;
    background-color: white;
    justify-content: center;
}

#workout-feed-section {
    min-width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25%;
    overflow: auto;
}

#personal-links-section {
    position: fixed;
    width: 25%;
    display: flex;
    flex-direction: column;
    top: 115px;
    right: 0;
}

.profile-username-title {
    font-size: 26px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.dashboard-title {
    font-size: 24px;
    font-weight: 700;
}

.profile-section-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.personal-links-container ul > * {
    display: flex;
    border-bottom: 1px solid lightgray;
    width: 280px;
    padding: 40px;
}

