#footer {
    display: flex;
    background-color: rgb(36,36,40);
    color: white;
    align-items: flex-start;
    justify-content: center;
}

#footer .footer-container {
    display: flex;
    justify-content: space-evenly;
    width: 1248px;
    height: 218px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
}

#footer .footer-container > div {
    display: flex;
    width: 25%;
    padding: 0 16px 0 16px;
    height: 218px;
    flex-direction: column;
}

#footer .footer-col-label {
    font-size: 10px;
    color: grey;
    line-height: 22px;
    margin: 0 0 32px 0;
}

#footer .footer-div-menu ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer .footer-div-menu li {
    font-size: 10px;
    line-height: 15px;
    display: flex;
    width: 50%;
    margin: 0 0 16px 0;
}

#footer .footer-div-follow li {
    font-size: 10px;
    line-height: 15px;
    display: flex;
    width: 50%;
    margin: 0 0 16px 0;
}

#footer div ul li a {
    font-size: 10px;
    line-height: 15px;
    color: white;
    display: flex;
}

#footer .footer-div-get-started li a {
    margin: 0 0 16px 0;
}

#footer-paragraph {
    font-size: 10px;
    display: flex;
    color: gray
}