.main-content {
    display: flex;
    height: 582px;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.main-content h1 {
    font-size: 48px;
    font-weight: 700;
}

.splash-page-content {
    display: flex;
    // width: 940px;
    justify-content: center;
    flex-direction: column;
}

.splash-image {
    background-image: image-url('splash_image.jpg');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain; 
    height: 600px; 
    width: 400px; 

    display: inline-block;
    width: 100%;
    max-width: 468px;
    margin: 0 auto;
}