main {
    font-family: 'Open Sans', sans-serif;
    // font-family: 'Rubik Mono One', sans-serif;
}

#app-header {
    display: flex;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid rgb(233, 232, 232);
    width: 100%;
    margin-right: 50px;
}

#app-header-user {
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 10;

    border-bottom: 1px solid rgb(233, 232, 232);
    width: 100%;
    margin-right: 50px;
}

.nav-bar-container {
    display: flex;
    // position: ;
    // flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 1248px;
    position: relative;
    color: black;
    padding: 0 16px;
    margin: 0 5.5px;
}

#nav-bar-button a {
    display: flex;
    background-color: white;
    font-size: 12px;
    font-weight: 700;
    color: #242428;
    padding: 6px 16px;
    min-height: unset;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    border-color: #dfdfe8;
}

#nav-bar-button a:hover {
    background-color: #f0f0f5;;
}

#nav-bar-button a.Sign.Up {
    display: flex;
    background-color: rgb(252,82,0);
    font-size: 12px;
    font-weight: 700;
    color: white;
    padding: 6px 16px;
    min-height: unset;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    border-color: #dfdfe8;
}

#nav-bar-button a.Sign.Up:hover {
    background-color: #cc4200;
    border-color: #cc4200;
}