.workout-feed-container {
    display: flex;
    max-height: 400px;
    min-width: 100%;
}

.workout-feed-container > * {
    display: flex;
    font-size: 20px;
    padding: 5px;
    width: 50%;
}

.workout-item {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 12px 0px 12px 0px ;
}

.workout-item-title {
    font-size: 24px;
    font-weight: 700;
}

#workout-delete-button :hover {
    background-color: #cc4200;
    border-color: #cc4200;
}

#workout-delete-button {
    display: flex;
    background-color: #fc5200;
    font-size: 12px;
    font-weight: 700;
    color: white;
    padding: 6px 16px;
    min-height: unset;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    border-color: #dfdfe8;
}